#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

NORMALEX2008_INI TEXTFILE MOVEABLE PURE  "res\\NormalEX2008.ini"
EX2008_FRAMECAPTION_BMP BITMAP MOVEABLE PURE "res\\EX2008_FrameCaption.bmp"
EX2008_FRAMECAPTIONSIZING_BMP BITMAP MOVEABLE PURE "res\\EX2008_FrameCaptionSizing.bmp"
EX2008_EMPTYBUTTON_BMP BITMAP MOVEABLE PURE "res\\EX2008_EmptyButton.BMP"
EX2008_CLOSEGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_CloseGlyph2.bmp"
EX2008_CLOSEGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_CLOSEGLYPH.BMP"
EX2008_FRAMEBOTTOM_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameBottom.bmp"
EX2008_FRAMELEFT_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameLeft.bmp"
EX2008_FRAMERIGHT_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameRight.bmp"
EX2008_HELPGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_HelpGlyph2.BMP"
EX2008_HELPGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_HELPGLYPH.BMP"
EX2008_MAXIMIZEGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_MaximizeGlyph2.bmp"
EX2008_MAXIMIZEGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_MAXIMIZEGLYPH.BMP"
EX2008_FRAMEMAXIMIZED_BMP BITMAP MOVEABLE PURE "res\\EX2008_FrameMaximized.bmp"
EX2008_MDIGLYPHCLOSE_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDIGlyphClose.bmp"
EX2008_MDICAPTION_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDICaption.bmp"
EX2008_MDIGLYPHMINIMIZE_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDIGlyphMinimize.bmp"
EX2008_MDICAPTIONMINIMIZE_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDICaptionMinimize.bmp"
EX2008_MDIGLYPHRESTORE_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDIGlyphRestore.bmp"
EX2008_MDICAPTIONRESTORE_BMP BITMAP MOVEABLE PURE "res\\EX2008_MDICaptionRestore.bmp"
EX2008_MINIMIZEGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_MinimizeGlyph2.bmp"
EX2008_MINIMIZEGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_MINIMIZEGLYPH.BMP"
EX2008_FRAMEMINIMIZED_BMP BITMAP MOVEABLE PURE "res\\EX2008_FrameMinimized.bmp"
EX2008_RESTOREGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_RestoreGlyph2.bmp"
EX2008_RESTOREGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_RestoreGlyph.BMP"
EX2008_SMALLFRAMECAPTION_BMP BITMAP MOVEABLE PURE "res\\EX2008_SmallFrameCaption.bmp"
EX2008_SMALLFRAMECAPTIONSIZING_BMP BITMAP MOVEABLE PURE "res\\EX2008_SmallFrameCaptionSizing.bmp"
EX2008_SMALLCLOSEBUTTON_BMP BITMAP MOVEABLE PURE "res\\EX2008_SmallCloseButton.bmp"
EX2008_SMALLCLOSEGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SmallCloseGlyph.bmp"
EX2008_FRAMEBOTTOMS_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameBottomS.bmp"
EX2008_FRAMELEFT2_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameLeft2.bmp"
EX2008_FRAMERIGHT2_BMP BITMAP MOVEABLE PURE "res\\EX2008_frameRight2.bmp"
EX2008_CHECKBOX12_BMP BITMAP MOVEABLE PURE "res\\EX2008_CHECKBOX12.bmp"
EX2008_CHECKBOX14_BMP BITMAP MOVEABLE PURE "res\\EX2008_CHECKBOX14.bmp"
EX2008_CHECKBOX16_BMP BITMAP MOVEABLE PURE "res\\EX2008_CHECKBOX16.bmp"
EX2008_GROUPBOX_BMP BITMAP MOVEABLE PURE "res\\EX2008_GroupBox.bmp"
EX2008_BUTTON_BMP BITMAP MOVEABLE PURE "res\\EX2008_BUTTON.bmp"
EX2008_RADIOBUTTON14_BMP BITMAP MOVEABLE PURE "res\\EX2008_RADIOBUTTON14.bmp"
EX2008_RADIOBUTTON16_BMP BITMAP MOVEABLE PURE "res\\EX2008_RADIOBUTTON16.bmp"
EX2008_TOOLBARBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarBackground.bmp"
EX2008_CHEVRON_BMP BITMAP MOVEABLE PURE "res\\EX2008_Chevron.bmp"
EX2008_TOOLBARBUTTONS_BMP BITMAP MOVEABLE PURE "res\\EX2008_TOOLBARBUTTONS.BMP"
EX2008_TOOLBARGRIPPER_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarGripper.bmp"
EX2008_TOOLBARGRIPPERVERT_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarGripperVert.bmp"
EX2008_TOOLBARSEPARATOR_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolBarSeparator.BMP"
EX2008_SEPARATORVERT_BMP BITMAP MOVEABLE PURE "res\\EX2008_SeparatorVert.bmp"
EX2008_TOOLBARBUTTONSSPLIT_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarButtonsSplit.bmp"
EX2008_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarButtonsSplitDropdownGlyph.bmp"
EX2008_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP MOVEABLE PURE "res\\EX2008_ToolbarButtonsSplitDropdown.bmp"
EX2008_STATUSBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_StatusBackground.bmp"
EX2008_RESIZEGRIP2_BMP BITMAP MOVEABLE PURE "res\\EX2008_ResizeGrip2.bmp"
EX2008_STATUSPANE_BMP BITMAP MOVEABLE PURE "res\\EX2008_StatusPane.bmp"
EX2008_COMBOBOX_BMP BITMAP MOVEABLE PURE "res\\EX2008_ComboBox.bmp"
EX2008_LISTVIEWBOX_BMP BITMAP MOVEABLE PURE "res\\EX2008_ListViewBox.bmp"
EX2008_LISTVIEWHEADERBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_ListviewHeaderBackground.bmp"
EX2008_LISTVIEWHEADER_BMP BITMAP MOVEABLE PURE "res\\EX2008_ListViewHeader.bmp"
EX2008_PROGRESSTRACK_BMP BITMAP MOVEABLE PURE "res\\EX2008_ProgressTrack.bmp"
EX2008_PROGRESSTRACKVERT_BMP BITMAP MOVEABLE PURE "res\\EX2008_ProgressTrackVert.bmp"
EX2008_PROGRESSCHUNK_BMP BITMAP MOVEABLE PURE "res\\EX2008_ProgressChunk.bmp"
EX2008_PROGRESSCHUNKVERT_BMP BITMAP MOVEABLE PURE "res\\EX2008_ProgressChunkVert.bmp"
EX2008_TABBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_TabBackground.bmp"
EX2008_TABBACKGROUND133_BMP BITMAP MOVEABLE PURE "res\\EX2008_TabBackground133.bmp"
EX2008_TABPANEEDGE_BMP BITMAP MOVEABLE PURE "res\\EX2008_TabPaneEdge.bmp"
EX2008_TABITEM_BMP BITMAP MOVEABLE PURE "res\\EX2008_tabItem.bmp"
EX2008_TABITEMBOTH_BMP BITMAP MOVEABLE PURE "res\\EX2008_tabItemBoth.bmp"
EX2008_TABITEMLEFT_BMP BITMAP MOVEABLE PURE "res\\EX2008_tabItemLeft.bmp"
EX2008_TABITEMRIGHT_BMP BITMAP MOVEABLE PURE "res\\EX2008_tabItemRight.bmp"
EX2008_TRACKBAR_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBAR.bmp"
EX2008_TRACKBARDOWN10_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARDOWN10.bmp"
EX2008_TRACKBARDOWN13_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARDOWN13.bmp"
EX2008_TRACKBARDOWN17_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARDOWN17.bmp"
EX2008_TRACKBARLEFT10_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARLEFT10.bmp"
EX2008_TRACKBARLEFT13_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARLEFT13.bmp"
EX2008_TRACKBARLEFT17_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARLEFT17.bmp"
EX2008_TRACKBARRIGHT10_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARRIGHT10.bmp"
EX2008_TRACKBARRIGHT13_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARRIGHT13.bmp"
EX2008_TRACKBARRIGHT17_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARRIGHT17.bmp"
EX2008_TRACKBARUP10_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARUP10.bmp"
EX2008_TRACKBARUP13_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARUP13.bmp"
EX2008_TRACKBARUP17_BMP BITMAP MOVEABLE PURE "res\\EX2008_TRACKBARUP17.bmp"
EX2008_SLIDERTRACKH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SLIDERTRACKH.BMP"
EX2008_SLIDERTRACKV_BMP BITMAP MOVEABLE PURE "res\\EX2008_SLIDERTRACKV.BMP"
EX2008_BALLOONCLOSE_BMP BITMAP MOVEABLE PURE "res\\EX2008_BalloonClose.bmp"
EX2008_TREEEXPANDCOLLAPSE_BMP BITMAP MOVEABLE PURE "res\\EX2008_treeExpandCollapse.bmp"
EX2008_FIELDOUTLINEBLUE_BMP BITMAP MOVEABLE PURE "res\\EX2008_FieldOutlineBlue.bmp"
EX2008_SPINDOWNGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinDownGlyph.bmp"
EX2008_SPINBUTTONBACKGROUNDUP1_BMP BITMAP MOVEABLE PURE "res\\EX2008_SPINBUTTONBACKGROUNDUP1.BMP"
EX2008_SPINLEFTGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinLeftGlyph.bmp"
EX2008_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinButtonBackgroundLeft.bmp"
EX2008_SPINUPGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinUpGlyph.bmp"
EX2008_SPINBUTTONBACKGROUNDUP_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinButtonBackgroundUp.bmp"
EX2008_SPINRIGHTGLYPH_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpinRightGlyph.bmp"
EX2008_SPINBUTTONBKGRIGHT_BMP BITMAP MOVEABLE PURE "res\\EX2008_SPINBUTTONBKGRIGHT.BMP"
EX2008_SCROLLARROWS_BMP BITMAP MOVEABLE PURE "res\\EX2008_SCROLLARROWS.BMP"
EX2008_SCROLLARROWGLYPHS2_BMP BITMAP MOVEABLE PURE "res\\EX2008_SCROLLARROWGLYPHS2.BMP"
EX2008_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollThumbGripperHorizontal.BMP"
EX2008_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollThumbGripperVertical.BMP"
EX2008_SCROLLSHAFTHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollShaftHorizontal.bmp"
EX2008_SCROLLSHAFTVERTICAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollShaftVertical.bmp"
EX2008_SCROLLTHUMBHORIZONTAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollThumbHorizontal.bmp"
EX2008_SCROLLTHUMBVERTICAL_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollThumbVertical.bmp"
EX2008_SCROLLSHAFTHORIZONTAL1_BMP BITMAP MOVEABLE PURE "res\\EX2008_SCROLLSHAFTHORIZONTAL1.BMP"
EX2008_SCROLLSHAFTVERTICAL1_BMP BITMAP MOVEABLE PURE "res\\EX2008_ScrollShaftVertical1.bmp"
EX2008_SPINDOWNGLYPH2_BMP BITMAP MOVEABLE PURE "res\\EX2008_SPINDOWNGLYPH2.bmp"
EX2008_COMBOBUTTON_BMP BITMAP MOVEABLE PURE "res\\EX2008_COMBOBUTTON.bmp"
EX2008_EXPLORERBARHEADERBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_ExplorerBarHeaderBackground.bmp"
EX2008_EXPLORERBARHEADERPIN_BMP BITMAP MOVEABLE PURE "res\\EX2008_ExplorerBarHeaderPin.bmp"
EX2008_IE_PERSONALBARMENU_BMP BITMAP MOVEABLE PURE "res\\EX2008_IE_PersonalBarMenu.bmp"
EX2008_NORMALGROUPBACKGROUND_BMP BITMAP MOVEABLE PURE "res\\EX2008_NormalGroupBackground.bmp"
EX2008_SPECIALGROUPCOLLAPSE_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpecialGroupCollapse.bmp"
EX2008_SPECIALGROUPEXPAND_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpecialGroupExpand.bmp"
EX2008_SPECIALGROUPHEAD_BMP BITMAP MOVEABLE PURE "res\\EX2008_SpecialGroupHead.bmp"


LARGEFONTSEX2008_INI TEXTFILE MOVEABLE PURE  "res\\LargeFontsEX2008.ini"


EXTRALARGEEX2008_INI TEXTFILE MOVEABLE PURE  "res\\ExtraLargeEX2008.ini"


THEMES_INI TEXTFILE MOVEABLE PURE  "res\\Themes.ini"

STRINGTABLE DISCARDABLE
BEGIN
    5000                    "EX2008"
END

#endif    // English (U.S.) resources

