
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)) repeat scroll 0 0 rgba(34, 34, 34, 0.8);
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 0 6px rgba(0, 0, 0, 0.4);
    color: #bbb;
    font-family: "Lucida Grande",Arial,sans-serif;
    font-feature-settings: normal;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin: 35px auto 40px;
    padding: 8px;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    width: 260px;
}
.about a {
    border-radius: 2px;
    color: #eee;
    text-decoration: none;
    transition: background 0.1s ease 0s;
}
.about a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
    text-decoration: none;
}
.about-links {
    height: 30px;
}
.about-links > a {
    float: left;
    font-size: 16px;
    line-height: 30px;
    width: 50%;
}
.about-author {
    margin-top: 5px;
}
.about-author > a {
    margin: 0 -1px;
    padding: 1px 3px;
}
body {
    background: none repeat scroll 0 0 #eeebe4;
    color: #404040;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.plans {
    margin: 50px auto;
    overflow: hidden;
    width: 980px;
}
.plan {
    background: none repeat scroll 0 0 padding-box white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    float: left;
    margin: 20px 5px;
    padding: 15px 25px;
    text-align: center;
    width: 150px;
}
.plan-title {
    color: #36bce6;
    font-size: 26px;
    margin-bottom: 12px;
}
.plan-price {
    color: #fd935a;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}
.plan-unit {
    color: #7f7f7f;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}
.plan-features {
    border-top: 1px solid #e5ded6;
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    text-align: left;
    width: 120px;
}
.plan-feature {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
}
.plan-feature + .plan-feature {
    margin-top: 5px;
}
.plan-feature-unit {
    font-size: 16px;
    margin-left: 2px;
}
.plan-feature-name {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: normal;
}
.plan-button {
    background: none repeat scroll 0 0 #fd935c;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.plan-button:active {
    border-bottom: 0 none;
    margin-bottom: 2px;
    top: 2px;
}
.plan-highlight {
    border: 4px solid #37bbe6;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 170px;
}
.plan-highlight .plan-button {
    background: none repeat scroll 0 0 #37bce5;
    border-color: rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 49px;
}
.plan-recommended {
    background: none repeat scroll 0 0 #37bbe6;
    border-radius: 0 0 4px 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    width: 160px;
}
.tooltip {
    display: inline;
    position: relative;
}
.tooltip:hover:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    width: 220px;
    z-index: 98;
}
.tooltip:hover:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333 transparent;
    border-image: none;
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.lightbox-50595151360249 {
    background: none repeat scroll 0 0 #fd935c;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.lightbox-50595151360249:active {
    border-bottom: 0 none;
    margin-bottom: 2px;
    top: 2px;
}

.lightbox-50596110588257 {
    background: none repeat scroll 0 0 #37bce5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.lightbox-50596110588257:active {
    border-bottom: 0 none;
    margin-bottom: 2px;
    top: 2px;
}

.lightbox-50596799976281 {
    background: none repeat scroll 0 0 #37bce5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.lightbox-50596799976281:active {
    border-bottom: 0 none;
    margin-bottom: 2px;
    top: 2px;
}

.lightbox-50596269681266 {
    background: none repeat scroll 0 0 #37bce5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.lightbox-50596269681266:active {
    border-bottom: 0 none;
    margin-bottom: 2px;
    top: 2px;
}
